<div class="navbar">
  <p>Wikinimous</p>
  <%= link_to "Create an article", new_article_path, class:"btn"%>
</div>

<ul>
  <div class="articles-wrapper">
      <% @articles.each do |article| %>
        <div class="article-container">
          <li><%= link_to article.title, article_path(article), class: "article-link" %></li>
          <p><%= article.content %></p>
        </div>
      <% end %>
  </div>
</ul>

